PORT=3000
NODE_ENV=production
MONGO_URI_ATLAS=mongodb://22520298_db_user:uXVt3gnnq8ImFN1J@ac-9gbvii5-shard-00-00.tnxxv9n.mongodb.net:27017,ac-9gbvii5-shard-00-01.tnxxv9n.mongodb.net:27017,ac-9gbvii5-shard-00-02.tnxxv9n.mongodb.net:27017/?ssl=true&replicaSet=atlas-mnnmdk-shard-0&authSource=admin&appName=Society
JWT_SECRET=phuongahihi13032004tlh025p22ie213p21ie204p21ie403p21ie303p22
JWT_REFRESH_SECRET=phuongahihi_refresh_13032004tlh025p22ie213p21ie204p21ie403p21ie303p22_vibely
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d


# Cloudinary
CLOUDINARY_NAME=dfts9mh62
CLOUDINARY_API_KEY=337657268735142
CLOUDINARY_API_SECRET=9uR_mro1mZsXwHv_gvi09InmgKU

# Google OAuth
GOOGLE_CLIENT_ID=23935492977-qj87vsu1o32h0jbo5947dkoejubgqda7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://vibely-study-social-web.onrender.com/auth/google/callback


EMAIL_USER=22520861@gm.uit.edu.vn
EMAIL_PASS=zeuheiipmhqmrxnh

CHATBOT_BACKEND_URL=http://localhost:8082

# OPENAI_API_KEY=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
OPENAI_API_KEY=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