<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.pomodoro.PomodoroSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pomodoro.PomodoroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.docs.EditDocActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.ViewDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meeting.MeetingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.group.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.docs.DocsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.saved.SavedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.main.HomeActivity" />
        <activity
            android:name=".ui.library.UploadDocumentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.feed.PostDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>